<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
</head>
<body>
    <h1>Editar Usuário</h1>
    
    <form action="/users/update/<%= user._id %>" method="POST">
        <div>
            <label>Nome:</label>
            <input type="text" name="nome_usuario" value="<%= user.nome %>" required>
        </div>
        <div>
            <label>Cargo:</label>
            <input type="text" name="cargo_usuario" value="<%= user.cargo %>" required>
        </div>
        <br>
        <button type="submit">💾 Salvar Alterações</button>
    </form>
    <br>
    <a href="/users">Cancelar</a>
</body>
</html>
