<form action="/users" method="POST">
 <div>
 <label for="nome">Nome do Usuário:</label>
 <input type="text" id="nome" name="nome_usuario">
 </div>

 <div>
 <label for="cargo">Cargo:</label>
 <input type="text" id="cargo" name="cargo_usuario">
 </div>

 <button type="submit">Adicionar Usuário</button>
</form>